/* styles.css */

.container {
  margin-top: 20px;
  padding: 20px;
  background-color: #f8f9fa; /* Light gray background */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  border: 1px solid #ced4da; /* Light gray border */
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

#errorMessage {
  font-size: 14px;
}

#submitButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#submitButton:hover {
  background-color: #0056b3;
}

.row {
  margin-bottom: 20px; /* Add space between rows */
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.table thead th {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 15px; /* Increased padding for header */
}

.table tbody tr {
  text-align: center;
  transition: background-color 0.3s;
}

.table tbody tr:hover {
  background-color: #f2f2f2;
}

.completed-task {
  background-color: #d4edda !important; /* Light green background for completed tasks */
}

.btn-danger,
.btn-success {
  margin-right: 5px; /* Add space between Delete and Mark All Completed buttons */
}

#myCheckbox {
  transform: scale(1.5);
  margin: 0 auto;
}

.high-priority {
  font-weight: bold;
  color: red;
}

.medium-priority {
  color: orange;
}

.low-priority {
  color: green;
}

.completed-task {
  text-decoration: line-through;
  color: #6c757d;
}
