/* You can add global styles to this file, and also import other style files */
/* * {
  margin: 100;
  padding: 100;
  box-sizing: border-box;
  font-family: sans-serif;
} */

.container {
  /* background-color: rgb(
    108,
    148,
    227
  );  */
  /* background: linear-gradient(to bottom, #34db77, #ffffff);
   */
  background: linear-gradient(to bottom, #3498db, #ffffff);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
